In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../../data/AttractionsFinalData.csv", encoding="latin1")

In [6]:
len(df)

1916

# Get rid of data with no formatted address

In [9]:
df["lat"].value_counts(dropna=False)

1.352083      66
nil           22
1.2815683     15
1.29503       14
1.2846547     11
              ..
1.2791712      1
1.2818862      1
1.3133534      1
1.4172148      1
1.42972505     1
Name: lat, Length: 1449, dtype: int64

In [20]:
df["lon"].value_counts(dropna=False)

103.819836     66
nil            22
103.8636132    15
103.8583026    14
103.8609937    11
               ..
103.8339376     1
103.8455323     1
103.859637      1
103.8759377     1
103.835907      1
Name: lon, Length: 1441, dtype: int64

In [21]:
df_2 = df[df["lon"] != "nil"]

In [22]:
len(df_2)

1894

In [24]:
df_3 = df_2[df_2["lon"] != "103.819836"]

In [27]:
len(df_3)

1828

In [29]:
df_3["formatted_address"].value_counts(dropna=False)

3 Temasek Blvd, Singapore 038983                              15
18 Marina Gardens Dr, Gardens by the Bay, Singapore 018953    15
10 Bayfront Ave, Singapore 018956                             14
1 HarbourFront Walk, Singapore 098585                          7
200 Turf Club Rd, Singapore 287994                             7
                                                              ..
240 Sime Rd, Singapore 288303                                  1
240 Neo Tiew Cres, Singapore 718898                            1
24 Raffles Pl, #01-04, Singapore 048621                        1
24 Geylang East Ave 2, Sri Sivan Temple, Singapore 389752      1
Yishun, Singapore                                              1
Name: formatted_address, Length: 1470, dtype: int64

In [28]:
len(df_3)

1828

In [31]:
df_3.to_csv("Attractions.csv")

# Add network urls