In [1]:
import pandas as pd

### Remove data without tags for restaurants and attractions

In [2]:
attractions = pd.read_csv("AttractionsData.csv")

In [4]:
len(attractions)

1916

In [9]:
attraction_tags = list(attractions.columns[9:])
print(attraction_tags)

['Airport', 'Sports & Exercise', 'Art & History', 'Movies', 'Nature & Wildlife', 'Water Activities', 'Alcohol & Night life', 'Spas', 'Religion', 'Food', 'Shopping', 'Education', 'Transport', 'Fun & Games', 'Tourism']

In [12]:
final_attractions = []
missing_attractions = []
for idx, row in attractions.iterrows():
    no_tags = sum([row[t] for t in attraction_tags])
    if no_tags != 0:
        final_attractions.append(row)
    else:
        missing_attractions.append(row)

In [11]:
len(final_attractions)

1912

In [23]:
missing_attractions = pd.DataFrame(missing_attractions)

In [22]:
missing_attractions

,Unnamed: 0,name,location,lat,lon,formatted_address,about,overallRating,overallRatingCnt,Airport,...,Water Activities,Alcohol & Night life,Spas,Religion,Food,Shopping,Education,Transport,Fun & Games,Tourism
69,69,Takashimaya Singapore,391 Orchard Road Ngee Ann City Tower a Takashi...,1.3025572,103.834568,"391A Orchard Rd, Singapore 238873",Takashimaya is another Japanese retail giant w...,4.0,715,0,...,0,0,0,0,0,0,0,0,0,0
749,749,Jeric Salon,"2 Orchard Turn Ion Orchard, Singapore 238801 S...",1.3039288,103.8319512,"2 Orchard Turn, Singapore 238801","A favourite of celebrities, designers and musi...",4.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1347,1347,Hello Transfers,"33 Lim Liak Street, Singapore 160033 Singapore",1.2851263,103.8315808,"33 Lim Liak St, Block 33, Singapore 160033",We specialise in airport transfers to and from...,5.0,2,0,...,0,0,0,0,0,0,0,0,0,0
1879,1879,Zenith Wholesale Enterprise,"50 Chin Swee Road Thong Chai Building, Singapo...",1.2877163,103.8402478,"50 Chin Swee Rd, Singapore 169874",Our company has a fleet of vehicles to perform...,2.5,3,0,...,0,0,0,0,0,0,0,0,0,0

Only 4 data points, easy enough to label manually

In [26]:
# Takashimaya should be Shopping 
missing_attractions.at[0, "Shopping"] = 1

In [27]:
# Jeric Salon is also Shopping
missing_attractions.at[1, "Shopping"] = 1

In [ ]:
# Hello Transfers is