In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("RestaurantRawData.csv", index_col=0)
df = df.drop_duplicates()

In [4]:
len(df)

13778

In [5]:
df.head()

,name,location,working_hours,price_range,tags,foodRating,serviceRating,valueRating,atmosphereRating,overallRating,overallRatingCnt
0,BAM! Restaurant,"38 Tras Street #38-40, Singapore 078977 Singapore","<div class=""fUbTx"">Tue</div><div class=""cFfqI""...",NaN,"Spanish,Fusion,Japanese Fusion",45,45,40,45,4.5,226
1,Entre-Nous creperie,"27 Seah Street # 01-01, Singapore 188383 Singa...","<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"French,European,Healthy",50,50,45,40,5.0,"1,555"
2,The Courtyard,1 Fullerton Square Fullerton Hotel The Fullert...,"<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"Japanese,Indian,International",40,45,40,45,4.5,"1,450"
3,Portman's Bar,6 Raffles Boulevard Marina Square Level 4 At P...,"<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"Bar,Cafe,International",45,45,45,nil,5.0,270
4,Grand Shanghai Restaurant,"390 Havelock Road King's Centre, Singapore 169...","<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"Chinese,Asian,Shanghai",40,40,35,40,5.0,641

In [6]:
from bs4 import BeautifulSoup

In [7]:
df["working_hours"] = df["working_hours"].apply(lambda html: BeautifulSoup(html).get_text() if type(html) == str else "None")

In [8]:
df["price_range"].count()

3204

In [9]:
df.head(n=100)

,name,location,working_hours,price_range,tags,foodRating,serviceRating,valueRating,atmosphereRating,overallRating,overallRatingCnt
0,BAM! Restaurant,"38 Tras Street #38-40, Singapore 078977 Singapore","Tue12:00 PM - 2:00 PM6:00 PM - 10:30 PM,Wed12:...",NaN,"Spanish,Fusion,Japanese Fusion",45,45,40,45,4.5,226
1,Entre-Nous creperie,"27 Seah Street # 01-01, Singapore 188383 Singa...","Sun11:00 AM - 4:30 PM,Tue12:00 PM - 2:30 PM6:0...",NaN,"French,European,Healthy",50,50,45,40,5.0,"1,555"
2,The Courtyard,1 Fullerton Square Fullerton Hotel The Fullert...,"Sun10:30 AM - 6:00 PM,Mon10:30 AM - 6:00 PM,Tu...",NaN,"Japanese,Indian,International",40,45,40,45,4.5,"1,450"
3,Portman's Bar,6 Raffles Boulevard Marina Square Level 4 At P...,"Sun10:30 AM - 12:00 AM,Mon10:30 AM - 12:00 AM,...",NaN,"Bar,Cafe,International",45,45,45,nil,5.0,270
4,Grand Shanghai Restaurant,"390 Havelock Road King's Centre, Singapore 169...","Sun11:00 AM - 2:30 PM6:00 PM - 10:00 PM,Tue11:...",NaN,"Chinese,Asian,Shanghai",40,40,35,40,5.0,641
...,...,...,...,...,...,...,...,...,...,...,...
103,Enjoy Eating House and Bar @ Stevens,"30 Stevens Road #01-07, Singapore 257840 Singa...","Sun11:00 AM - 11:00 PM,Mon11:00 AM - 11:00 PM,...",NaN,"Chinese,Asian,Singaporean",50,50,45,nil,5.0,81
105,Joie by Dozo,181 Orchard Road Orchard Central #12-01 Orchar...,"Sun12:00 PM - 3:30 PM6:00 PM - 10:30 PM,Mon12:...",NaN,"Asian,Vegetarian Friendly,Vegan Options",45,45,45,45,4.5,316
106,Yardbird Southern Table &amp; Bar,"2 Bayfront Avenue Marina Bay Sands B1-07, L1-8...","Sun10:00 AM - 10:00 PM,Mon12:00 PM - 10:00 PM,...",nil,"American,Bar,Vegetarian Friendly",45,45,40,40,4.5,828
107,Yan Ting,29 Tanglin Road St. Regis Hotel Singapore The ...,Sun10:30 AM - 12:30 PM1:00 PM - 3:00 PM6:00 PM...,nil,"Chinese,Asian,Cantonese",45,45,40,40,4.5,693
108,Peach Blossoms,"6 Raffles Boulevard Level 5 Marina Square, Sin...","Sun11:00 AM - 3:00 PM6:30 PM - 11:00 PM,Mon12:...",nil,"Chinese,Asian,Cantonese",45,45,40,40,4.5,623

In [10]:
tags = df["tags"].unique()

In [11]:
print(tags)

['Spanish,Fusion,Japanese Fusion' 'French,European,Healthy'
 'Japanese,Indian,International' ... 'Japanese,Seafood,Barbecue'
 'Asian,Fusion,Nonya/Malaysian' 'Cafe,Pub,Beer restaurants']

In [12]:
final_tags = set()
for tag in tags:
    if type(tag) == str:
        t_split = tag.split(",")
        for t in t_split:
            final_tags.add(t)

In [13]:
for t in final_tags:
    print(t)

Fusion
Bakeries
Cantonese
Sri Lankan
Italian
Spanish
Northern-Italian
Asian
Seafood
Gastropub
Yunnan
Central European
Fruit parlours
Danish
Swiss
Dining bars
Sushi
Thai
Lebanese
Egyptian
South American
Hokkaido cuisine
Mongolian
Turkish
Persian
Barbecue
Fujian
Israeli
NorthEastern Chinese
Pizza
British
Chinese
Steakhouse
European
Singaporean
Beer restaurants
Ukrainian
Belgian
Middle Eastern
Contemporary
Peruvian
Greek
Soups
Central American
Kappo
Wine Bar
Eastern European
Korean
Halal
NorthWestern Chinese
Austrian
Bar
Afghan
Latin
Russian
Mexican
Cajun &amp; Creole
Mediterranean
Irish
Basque
Canadian
African
Kaiseki
Malaysian
Indian
Fast food
Diner
Hong Kong
Caribbean
Cafe
International
Central Asian
Beijing cuisine
Brew Pub
Nonya/Malaysian
Scandinavian
Japanese sweets parlour
Hawaiian
Indigenous
Southern-Italian
Portuguese
New Zealand
Deli
Armenian
Grill
Medicinal foods
Burmese
German
Caucasian
French
Moroccan
Vegan Options
American
Gluten Free Options
Vegetarian Friendly
Australian
Arabic
Shanghai
Hunan
Tuscan
Dessert
Healthy
Nepalese
Indonesian
Imperial Chinese
Central-Italian
Dutch
Japanese
Scottish
Taiwanese
Kosher
Swedish
Szechuan
Japanese Fusion
Pub
Xinjiang
Norwegian
Brazilian
Quick Bites
Argentinian
Philippine
Street Food
Cuban
Speciality Food Market
Vietnamese
Pakistani
Southwestern

In [14]:
len(final_tags)

127

In [15]:
df.head()

,name,location,working_hours,price_range,tags,foodRating,serviceRating,valueRating,atmosphereRating,overallRating,overallRatingCnt
0,BAM! Restaurant,"38 Tras Street #38-40, Singapore 078977 Singapore","Tue12:00 PM - 2:00 PM6:00 PM - 10:30 PM,Wed12:...",NaN,"Spanish,Fusion,Japanese Fusion",45,45,40,45,4.5,226
1,Entre-Nous creperie,"27 Seah Street # 01-01, Singapore 188383 Singa...","Sun11:00 AM - 4:30 PM,Tue12:00 PM - 2:30 PM6:0...",NaN,"French,European,Healthy",50,50,45,40,5.0,"1,555"
2,The Courtyard,1 Fullerton Square Fullerton Hotel The Fullert...,"Sun10:30 AM - 6:00 PM,Mon10:30 AM - 6:00 PM,Tu...",NaN,"Japanese,Indian,International",40,45,40,45,4.5,"1,450"
3,Portman's Bar,6 Raffles Boulevard Marina Square Level 4 At P...,"Sun10:30 AM - 12:00 AM,Mon10:30 AM - 12:00 AM,...",NaN,"Bar,Cafe,International",45,45,45,nil,5.0,270
4,Grand Shanghai Restaurant,"390 Havelock Road King's Centre, Singapore 169...","Sun11:00 AM - 2:30 PM6:00 PM - 10:00 PM,Tue11:...",NaN,"Chinese,Asian,Shanghai",40,40,35,40,5.0,641

In [62]:
final_tags = sorted(list(final_tags))

In [63]:
final_tags

['Afghan',
 'African',
 'American',
 'Arabic',
 'Argentinian',
 'Armenian',
 'Asian',
 'Australian',
 'Austrian',
 'Bakeries',
 'Bar',
 'Barbecue',
 'Basque',
 'Beer restaurants',
 'Beijing cuisine',
 'Belgian',
 'Brazilian',
 'Brew Pub',
 'British',
 'Burmese',
 'Cafe',
 'Cajun &amp; Creole',
 'Canadian',
 'Cantonese',
 'Caribbean',
 'Caucasian',
 'Central American',
 'Central Asian',
 'Central European',
 'Central-Italian',
 'Chinese',
 'Contemporary',
 'Cuban',
 'Danish',
 'Deli',
 'Dessert',
 'Diner',
 'Dining bars',
 'Dutch',
 'Eastern European',
 'Egyptian',
 'European',
 'Fast food',
 'French',
 'Fruit parlours',
 'Fujian',
 'Fusion',
 'Gastropub',
 'German',
 'Gluten Free Options',
 'Greek',
 'Grill',
 'Halal',
 'Hawaiian',
 'Healthy',
 'Hokkaido cuisine',
 'Hong Kong',
 'Hunan',
 'Imperial Chinese',
 'Indian',
 'Indigenous',
 'Indonesian',
 'International',
 'Irish',
 'Israeli',
 'Italian',
 'Japanese',
 'Japanese Fusion',
 'Japanese sweets parlour',
 'Kaiseki',
 'Kappo',
 'Korean',
 'Kosher',
 'Latin',
 'Lebanese',
 'Malaysian',
 'Medicinal foods',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Mongolian',
 'Moroccan',
 'Nepalese',
 'New Zealand',
 'Nonya/Malaysian',
 'NorthEastern Chinese',
 'NorthWestern Chinese',
 'Northern-Italian',
 'Norwegian',
 'Pakistani',
 'Persian',
 'Peruvian',
 'Philippine',
 'Pizza',
 'Portuguese',
 'Pub',
 'Quick Bites',
 'Russian',
 'Scandinavian',
 'Scottish',
 'Seafood',
 'Shanghai',
 'Singaporean',
 'Soups',
 'South American',
 'Southern-Italian',
 'Southwestern',
 'Spanish',
 'Speciality Food Market',
 'Sri Lankan',
 'Steakhouse',
 'Street Food',
 'Sushi',
 'Swedish',
 'Swiss',
 'Szechuan',
 'Taiwanese',
 'Thai',
 'Turkish',
 'Tuscan',
 'Ukrainian',
 'Vegan Options',
 'Vegetarian Friendly',
 'Vietnamese',
 'Wine Bar',
 'Xinjiang',
 'Yunnan']

In [64]:
with open("tags.csv", "w") as f:
    for tag in final_tags:
        f.write(tag + ",")

In [17]:
import requests
import config

In [18]:
dataset = []

GOOGLE_MAPS_API_URL = "https://maps.googleapis.com/maps/api/geocode/json"

for idx, row in df.iterrows():
    params = {
        "address": row["location"],
        "sensor": "false",
        "region": "singapore",
        "key": config.API_KEY
    }

    try:
        req = requests.get(GOOGLE_MAPS_API_URL, params=params)
        res = req.json()
        if len(res["results"]) > 0:
            lat = res['results'][0]['geometry']['location']['lat']
            lon = res['results'][0]['geometry']['location']['lng']
            formatted_address = res['results'][0]['formatted_address']
        else:
            lat = "nil"
            lon = "nil"
            formatted_address = "nil"
    except ConnectionError:
        lat = "nil"
        lon = "nil"
        formatted_address = "nil"

    x = {
        "name": row["name"],
        "location": row["location"],
        "lat": lat,
        "lon": lon,
        "formatted_address": formatted_address,
        "working_hours": row["working_hours"],
        "price_range": row["price_range"],
        "foodRating": row["foodRating"],
        "serviceRating": row["serviceRating"],
        "valueRating": row["valueRating"],
        "overallRating": row["overallRating"],
        "overallRatingCnt": row["overallRatingCnt"],
    }
    if type(row["tags"]) == str:
        x_tag_list = row["tags"].split(",")
        n = len(x_tag_list)
        x_tag = {
            t: 1 / n if t in x_tag_list else 0 for t in final_tags
        }
    else:
        x_tag = {
            t: 0 for t in final_tags
        }
    x.update(x_tag)
    dataset.append(x)

dataset = pd. DataFrame.from_dict(dataset)

In [19]:
df[df["tags"].isnull()]

,name,location,working_hours,price_range,tags,foodRating,serviceRating,valueRating,atmosphereRating,overallRating,overallRatingCnt
314,The Auld Alliance,09 Bras Basah Road Rendezvous Hotel Singapore ...,"Sun5:00 PM - 12:00 AM,Mon5:00 PM - 01:00 AM,Tu...",NaN,NaN,45,50,45,45,5.0,116
845,COCA Singapore - Leisure Park Kallang,5 Stadium Walk Leisure Park Kallang #02-01 Lei...,"Sun11:15 AM - 10:30 PM,Mon11:15 AM - 10:30 PM,...",NaN,NaN,40,40,35,40,4.0,185
891,Elemen,"10 Paya Lebar Road #03-13 Paya Lebar Quarter, ...",None,nil,NaN,45,40,40,40,4.0,99
1008,Lobby Lounge at Pan Pacific Orchard,"10 Claymore Road Pan Pacific Orchard, Singapor...",None,NaN,NaN,40,45,40,40,4.5,89
1172,Operation Dagger,"7 Ann Siang Road, Singapore 069689 Singapore","Tue6:00 PM - 12:00 AM,Wed6:00 PM - 12:00 AM,Th...",nil,NaN,45,45,40,nil,4.0,102
...,...,...,...,...,...,...,...,...,...,...,...
17136,The Coffee Bean &amp; Tea Leaf,1 Woodlands Square Causeway Point 02-33 &amp; ...,None,NaN,NaN,nil,nil,nil,nil,nil,nil
17139,Railway Seafood,"1 Kaki Bukit View Techview Floor 01 Unit 1 01,...",None,nil,NaN,nil,nil,nil,nil,nil,nil
17141,Shabu Shabu Gyu Jin - 100AM,100AM Tras Street #03-10 100 am Shabu Shabu Gy...,None,nil,NaN,nil,nil,nil,nil,nil,nil
17145,Cafe 2000,"81 Anson Road M Hotel, Singapore 079908 Singapore",None,nil,NaN,nil,nil,nil,nil,nil,nil
17147,Kalonn Craft Beer Bar,2 Tai Thong Crescent The Venue Shoppes Floor 0...,None,nil,NaN,nil,nil,nil,nil,nil,nil

In [34]:
df.count()

name                13778
location            13778
working_hours       13778
price_range          3204
tags                 7902
foodRating          13778
serviceRating       13778
valueRating         13778
atmosphereRating    13778
overallRating       13778
overallRatingCnt    13778
dtype: int64

In [21]:
len(df)

13778

In [20]:
df.to_csv("RestaurantProcessedData.csv")

In [22]:
empties = df[df["tags"].isnull()]

In [24]:
empties.to_csv("RestaurantsWithoutTags.csv")

In [26]:
empties.count()

name                5876
location            5876
working_hours       5876
price_range         2843
tags                   0
foodRating          5876
serviceRating       5876
valueRating         5876
atmosphereRating    5876
overallRating       5876
overallRatingCnt    5876
dtype: int64

# Count occurrences of tags

In [38]:
tag_count = {
    t: 0 for t in final_tags
}

In [40]:
for idx, row in dataset.iterrows():
    for t in final_tags:
        if row[t] != 0:
            tag_count[t] = tag_count[t] + 1

In [45]:
tag_df = pd.DataFrame([tag_count])

In [59]:
tag_df.describe()

,Afghan,African,American,Arabic,Argentinian,Armenian,Asian,Australian,Austrian,Bakeries,...,Thai,Turkish,Tuscan,Ukrainian,Vegan Options,Vegetarian Friendly,Vietnamese,Wine Bar,Xinjiang,Yunnan
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,4.0,3.0,392.0,4.0,2.0,1.0,3426.0,44.0,3.0,92.0,...,291.0,29.0,3.0,2.0,160.0,747.0,86.0,80.0,3.0,2.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.0,3.0,392.0,4.0,2.0,1.0,3426.0,44.0,3.0,92.0,...,291.0,29.0,3.0,2.0,160.0,747.0,86.0,80.0,3.0,2.0
25%,4.0,3.0,392.0,4.0,2.0,1.0,3426.0,44.0,3.0,92.0,...,291.0,29.0,3.0,2.0,160.0,747.0,86.0,80.0,3.0,2.0
50%,4.0,3.0,392.0,4.0,2.0,1.0,3426.0,44.0,3.0,92.0,...,291.0,29.0,3.0,2.0,160.0,747.0,86.0,80.0,3.0,2.0
75%,4.0,3.0,392.0,4.0,2.0,1.0,3426.0,44.0,3.0,92.0,...,291.0,29.0,3.0,2.0,160.0,747.0,86.0,80.0,3.0,2.0
max,4.0,3.0,392.0,4.0,2.0,1.0,3426.0,44.0,3.0,92.0,...,291.0,29.0,3.0,2.0,160.0,747.0,86.0,80.0,3.0,2.0

# Using Google Places API

In [65]:
import googlemaps

ModuleNotFoundError: No module named 'googlemaps'

# Merge tags into their super tags

In [73]:
attraction_merge = {
    "airport": {
        "old_values": ("Airport Lounge", "Airport Shops"),
        "new_value": "Airport"
    },
    "exercise": {
        "old_values": (
            "Jogging Paths and Tracks",
            "Biking Trails",
            "Dance Clubs and Discos",
            "Yoga and Pilates",
            "Sports Complexes",
            "Sporting Events",
            "Sports Camps and Clinics",
            "Arenas and Stadiums",
            "Health Clubs",
            "Hiking Trails",
            "Auto Racing Tracks"),
        "new_value": "Sports & Exercise"
    },
    "art": {
        "old_values": (
            "Military Bases and Facilities",
            "Children's Museums",
            "Antique Shops",
            "Art Galleries",
            "Art Museums",
            "Architectural Buildings",
            "Historic Sites",
            "Historic Walking Areas",
            "History Museums",
            "Monuments and Statues",
            "Military Museums",
            "Battlefields",
            "Mysterious Sites",
            "National Parks",
            "Natural History Museums",
            "Bridges",
            "Cemeteries",
            "Theatre and Performances",
            "Government Buildings",
            "Visitor Centers",
            "Educational sites",
            "Lighthouses",
            "Operas",
            "Paint and Pottery Studios",
            "Speciality Museums",
            "Symphonies"
        ),
        "new_value": "Art & History"
    },
    "movies": {
        "old_values": (
            "Movie Theaters",
            "Theaters"
        ),
        "new_value": "Movies"
    },
    "nature": {
        "old_values": (
            "Zoos",
            "Nature and Wildlife Areas",
            "Gardens",
            "Forests",
            "Fountains",
            "Parks",
            "Scenic Drives",
        ),
        "new_value": "Nature & Wildlife"
    },
    "water": {
        "old_values": (
            "Other Outdoor Activities",
            "Water Parks",
            "Waterfalls",
            "Ferries",
            "Bodies of Water",
            "Beaches",
            "Dams"
        ),
        "new_value": "Water Activities"
    },
    "alcohol": {
        "old_values": (
            "Bars and Clubs",
            "Breweries",
            "Distilleries",
            "Wine Bars",
            "Wineries and Vineyards",
            "Cigar Bars",
            "Gay Bars",
            "Jazz Bars",
            "Karaoke Bars"
        ),
        "new_value": "Alcohol & Night life"
    },
    "spas": {
        "old_values": (
            "Hot Springs and Geysers",
            "Onsen Resorts",
            "Spas",
            "Thermal Spas"
        ),
        "new_value": "Spas"
    },
    "religion": {
        "old_values": (
            "Churches and Cathedrals",
            "Missions",
            "Religious Sites"
        ),
        "new_value": "Religion"
    },
    "food": {
        "old_values": (
            "Flea and Street Markets",
            "Food and Drink Festivals",
            "Cooking Classes",
            "Farmers Markets",
            "Farms"
        ),
        "new_value": "Food"
    },
    "shopping": {
        "old_values": (
            "Marinas",
            "Department Stores",
            "Factory Outlets",
            "Speciality and Gift Shops",
            "Shopping Malls",
            "Ski and Snowboard Areas"
        ),
        "new_value": "Shopping"
    },
    "education": {
        "old_values": (
            "Universities and Schools",
            "Lessons and Workshops",
            "Libraries",
            "Science Museums"
        ),
        "new_value": "Education"
    },
    "transport": {
        "old_values": (
            "Gear Rentals",
            "Taxis and Shuttles",
            "Trams"
        ),
        "new_value": "Transport"
    },
    "fun": {
        "old_values": (
            "Escape Games",
            "Game and Entertainment Centers",
            "Bowling Alleys",
            "Casinos",
            "Comedy Clubs",
            "Golf Courses",
            "Miniature Golf",
            "Amusement and Theme Parks",
            "Aquariums",
            "Other Fun and Games",
            "Playgrounds",
            "Shooting Ranges"
        ),
        "new_value": "Fun & Games"
    },
    "tourism": {
        "old_values": (
            "Civic Centres",
            "Bus Services",
            "Convention Centers",
            "Cultural Events",
            "Points of Interest and Landmarks",
            "Lookouts",
            "Islands",
            "Neighborhoods",
            "Observation Decks and Towers",
            "Observatories and Planetariums",
            "Public Transportation Systems",
            "Scenic Walking Areas",
            "Seasonal Fireworks"
        ),
        "new_value": "Tourism"
    }
}