In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("RestaurantRawData.csv", index_col=0)
df = df.drop_duplicates()

In [3]:
len(df)

13778

In [4]:
df.head()

,name,location,working_hours,price_range,tags,foodRating,serviceRating,valueRating,atmosphereRating,overallRating,overallRatingCnt
0,BAM! Restaurant,"38 Tras Street #38-40, Singapore 078977 Singapore","<div class=""fUbTx"">Tue</div><div class=""cFfqI""...",NaN,"Spanish,Fusion,Japanese Fusion",45,45,40,45,4.5,226
1,Entre-Nous creperie,"27 Seah Street # 01-01, Singapore 188383 Singa...","<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"French,European,Healthy",50,50,45,40,5.0,"1,555"
2,The Courtyard,1 Fullerton Square Fullerton Hotel The Fullert...,"<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"Japanese,Indian,International",40,45,40,45,4.5,"1,450"
3,Portman's Bar,6 Raffles Boulevard Marina Square Level 4 At P...,"<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"Bar,Cafe,International",45,45,45,nil,5.0,270
4,Grand Shanghai Restaurant,"390 Havelock Road King's Centre, Singapore 169...","<div class=""fUbTx"">Sun</div><div class=""cFfqI""...",NaN,"Chinese,Asian,Shanghai",40,40,35,40,5.0,641

In [5]:
from bs4 import BeautifulSoup

In [6]:
df["working_hours"] = df["working_hours"].apply(lambda html: BeautifulSoup(html).get_text() if type(html) == str else "None")

In [7]:
df["price_range"].count()

3204

In [8]:
df.head(n=100)

,name,location,working_hours,price_range,tags,foodRating,serviceRating,valueRating,atmosphereRating,overallRating,overallRatingCnt
0,BAM! Restaurant,"38 Tras Street #38-40, Singapore 078977 Singapore","Tue12:00 PM - 2:00 PM6:00 PM - 10:30 PM,Wed12:...",NaN,"Spanish,Fusion,Japanese Fusion",45,45,40,45,4.5,226
1,Entre-Nous creperie,"27 Seah Street # 01-01, Singapore 188383 Singa...","Sun11:00 AM - 4:30 PM,Tue12:00 PM - 2:30 PM6:0...",NaN,"French,European,Healthy",50,50,45,40,5.0,"1,555"
2,The Courtyard,1 Fullerton Square Fullerton Hotel The Fullert...,"Sun10:30 AM - 6:00 PM,Mon10:30 AM - 6:00 PM,Tu...",NaN,"Japanese,Indian,International",40,45,40,45,4.5,"1,450"
3,Portman's Bar,6 Raffles Boulevard Marina Square Level 4 At P...,"Sun10:30 AM - 12:00 AM,Mon10:30 AM - 12:00 AM,...",NaN,"Bar,Cafe,International",45,45,45,nil,5.0,270
4,Grand Shanghai Restaurant,"390 Havelock Road King's Centre, Singapore 169...","Sun11:00 AM - 2:30 PM6:00 PM - 10:00 PM,Tue11:...",NaN,"Chinese,Asian,Shanghai",40,40,35,40,5.0,641
...,...,...,...,...,...,...,...,...,...,...,...
103,Enjoy Eating House and Bar @ Stevens,"30 Stevens Road #01-07, Singapore 257840 Singa...","Sun11:00 AM - 11:00 PM,Mon11:00 AM - 11:00 PM,...",NaN,"Chinese,Asian,Singaporean",50,50,45,nil,5.0,81
105,Joie by Dozo,181 Orchard Road Orchard Central #12-01 Orchar...,"Sun12:00 PM - 3:30 PM6:00 PM - 10:30 PM,Mon12:...",NaN,"Asian,Vegetarian Friendly,Vegan Options",45,45,45,45,4.5,316
106,Yardbird Southern Table &amp; Bar,"2 Bayfront Avenue Marina Bay Sands B1-07, L1-8...","Sun10:00 AM - 10:00 PM,Mon12:00 PM - 10:00 PM,...",nil,"American,Bar,Vegetarian Friendly",45,45,40,40,4.5,828
107,Yan Ting,29 Tanglin Road St. Regis Hotel Singapore The ...,Sun10:30 AM - 12:30 PM1:00 PM - 3:00 PM6:00 PM...,nil,"Chinese,Asian,Cantonese",45,45,40,40,4.5,693
108,Peach Blossoms,"6 Raffles Boulevard Level 5 Marina Square, Sin...","Sun11:00 AM - 3:00 PM6:30 PM - 11:00 PM,Mon12:...",nil,"Chinese,Asian,Cantonese",45,45,40,40,4.5,623

In [9]:
tags = df["tags"].unique()

In [10]:
print(tags)

['Spanish,Fusion,Japanese Fusion' 'French,European,Healthy'
 'Japanese,Indian,International' ... 'Japanese,Seafood,Barbecue'
 'Asian,Fusion,Nonya/Malaysian' 'Cafe,Pub,Beer restaurants']

In [11]:
final_tags = set()
for tag in tags:
    if type(tag) == str:
        t_split = tag.split(",")
        for t in t_split:
            final_tags.add(t)

In [12]:
for t in final_tags:
    print(t)

Cajun &amp; Creole
German
Russian
Scandinavian
Cuban
Fujian
Korean
Grill
Speciality Food Market
Dutch
Latin
Beijing cuisine
Wine Bar
Asian
Dessert
Armenian
Caribbean
Gastropub
Central European
Fruit parlours
Middle Eastern
European
Persian
Mexican
International
Greek
Mediterranean
Beer restaurants
Portuguese
Burmese
Medicinal foods
Fusion
New Zealand
Sri Lankan
Pakistani
American
African
Northern-Italian
Halal
Japanese sweets parlour
Hunan
Seafood
Cantonese
Vietnamese
Chinese
Egyptian
Nepalese
Scottish
Pub
Hokkaido cuisine
Arabic
Central Asian
Hong Kong
Italian
Southern-Italian
Pizza
Barbecue
Yunnan
Eastern European
Tuscan
Gluten Free Options
Vegetarian Friendly
Bakeries
Danish
Singaporean
Canadian
Philippine
Steakhouse
Nonya/Malaysian
Turkish
Cafe
Shanghai
Irish
Central American
Mongolian
Malaysian
Indigenous
Belgian
Swedish
Indonesian
Swiss
Vegan Options
French
Street Food
Contemporary
Caucasian
Peruvian
Thai
Norwegian
Dining bars
Kappo
Deli
Afghan
Ukrainian
Quick Bites
NorthWestern Chinese
Argentinian
Japanese Fusion
Australian
Brazilian
Szechuan
Central-Italian
Indian
Lebanese
Sushi
Taiwanese
Basque
Soups
Kaiseki
Hawaiian
Southwestern
South American
Moroccan
Japanese
Spanish
NorthEastern Chinese
Israeli
Xinjiang
Bar
Imperial Chinese
Austrian
British
Healthy
Fast food
Brew Pub
Kosher
Diner

In [13]:
len(final_tags)

127

In [14]:
df.head()

,name,location,working_hours,price_range,tags,foodRating,serviceRating,valueRating,atmosphereRating,overallRating,overallRatingCnt
0,BAM! Restaurant,"38 Tras Street #38-40, Singapore 078977 Singapore","Tue12:00 PM - 2:00 PM6:00 PM - 10:30 PM,Wed12:...",NaN,"Spanish,Fusion,Japanese Fusion",45,45,40,45,4.5,226
1,Entre-Nous creperie,"27 Seah Street # 01-01, Singapore 188383 Singa...","Sun11:00 AM - 4:30 PM,Tue12:00 PM - 2:30 PM6:0...",NaN,"French,European,Healthy",50,50,45,40,5.0,"1,555"
2,The Courtyard,1 Fullerton Square Fullerton Hotel The Fullert...,"Sun10:30 AM - 6:00 PM,Mon10:30 AM - 6:00 PM,Tu...",NaN,"Japanese,Indian,International",40,45,40,45,4.5,"1,450"
3,Portman's Bar,6 Raffles Boulevard Marina Square Level 4 At P...,"Sun10:30 AM - 12:00 AM,Mon10:30 AM - 12:00 AM,...",NaN,"Bar,Cafe,International",45,45,45,nil,5.0,270
4,Grand Shanghai Restaurant,"390 Havelock Road King's Centre, Singapore 169...","Sun11:00 AM - 2:30 PM6:00 PM - 10:00 PM,Tue11:...",NaN,"Chinese,Asian,Shanghai",40,40,35,40,5.0,641

In [15]:
final_tags = sorted(list(final_tags))

In [16]:
import requests
import config

In [ ]:
dataset = []

GOOGLE_MAPS_API_URL = "https://maps.googleapis.com/maps/api/geocode/json"

for idx, row in df.iterrows():
    params = {
        "address": row["location"],
        "sensor": "false",
        "region": "singapore",
        "key": config.API_KEY
    }

    try:
        req = requests.get(GOOGLE_MAPS_API_URL, params=params)
        res = req.json()
        if len(res["results"]) > 0:
            lat = res['results'][0]['geometry']['location']['lat']
            lon = res['results'][0]['geometry']['location']['lng']
            formatted_address = res['results'][0]['formatted_address']
        else:
            lat = "nil"
            lon = "nil"
            formatted_address = "nil"
    except ConnectionError:
        lat = "nil"
        lon = "nil"
        formatted_address = "nil"

    x = {
        "name": row["name"],
        "location": row["location"],
        "lat": lat,
        "lon": lon,
        "formatted_address": formatted_address,
        "working_hours": row["working_hours"],
        "price_range": row["price_range"],
        "foodRating": row["foodRating"],
        "serviceRating": row["serviceRating"],
        "valueRating": row["valueRating"],
        "overallRating": row["overallRating"],
        "overallRatingCnt": row["overallRatingCnt"],
    }
    if type(row["tags"]) == str:
        x_tag_list = row["tags"].split(",")
        n = len(x_tag_list)
        x_tag = {
            t: 1 / n if t in x_tag_list else 0 for t in final_tags
        }
    else:
        x_tag = {
            t: 0 for t in final_tags
        }
    x.update(x_tag)
    dataset.append(x)

dataset = pd. DataFrame.from_dict(dataset)

In [ ]:
df[df["tags"].isnull()]